@font-face {
  font-family: "iconfont"; /* Project id 4512580 */
  src: url('//at.alicdn.com/t/c/font_4512580_1hul82jwk9p.woff2?t=1713362813769') format('woff2'),
       url('//at.alicdn.com/t/c/font_4512580_1hul82jwk9p.woff?t=1713362813769') format('woff'),
       url('//at.alicdn.com/t/c/font_4512580_1hul82jwk9p.ttf?t=1713362813769') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e609";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-gongyixiangqingsangexiaoyuandian-:before {
  content: "\e62a";
}
