@font-face {
  font-family: "iconfont"; /* Project id 4512580 */
  src: url('//at.alicdn.com/t/c/font_4512580_q6aciw0ly2.woff2?t=1713514979407') format('woff2'),
       url('//at.alicdn.com/t/c/font_4512580_q6aciw0ly2.woff?t=1713514979407') format('woff'),
       url('//at.alicdn.com/t/c/font_4512580_q6aciw0ly2.ttf?t=1713514979407') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huo:before {
  content: "\e662";
}

.icon-hot-for-atmosphere:before {
  content: "\e83d";
}

.icon-shandian:before {
  content: "\e60f";
}

.icon-qiang:before {
  content: "\e629";
}

.icon-youjiantou:before {
  content: "\e60a";
}

.icon-sousuo:before {
  content: "\e609";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-gongyixiangqingsangexiaoyuandian-:before {
  content: "\e62a";
}
