/* pages/home/home.wxss */
.container {
  height: 100vh;
  // width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #FEE3EA;
}

.nav-main {
  width: 100%;
  height: 100%;
  position: relative;
}

.nav .capsule-box {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20rpx;
  padding-right: 20rpx;

  .logo {
    width: 50rpx;
    height: 50rpx;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logoImg {
      width: 85%;
      height: 85%;
    }
  }

  .name {
    color: #E24B70;
    font-weight: bold;
    font-size: 40rpx;
    margin-top: 5rpx;
    margin-left: 15rpx;
    font-family: "Linear Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  }

  .btn {
    /* 设置背景颜色为从左到右的渐变效果 */
    background: linear-gradient(to right,
        #FD639E 0%,
        /* 第一种颜色，起始位置为0% */
        #AF88D7 40.33%,
        /* 第二种颜色，起始位置为33.33% */
        #78A2F7 70.67%
        /* 第三种颜色，起始位置为66.67% */
      );
    /* 兼容性设置 */
    background: -webkit-linear-gradient(left,
        #FD639E 0%,
        #AF88D7 40.33%,
        #78A2F7 70.67%);
    background: -moz-linear-gradient(left,
        #FD639E 0%,
        #AF88D7 40.33%,
        #78A2F7 70.67%);
    background: -o-linear-gradient(left,
        #FD639E 0%,
        #AF88D7 40.33%,
        #78A2F7 70.67%);
    margin-left: 45rpx;
    border-radius: 30rpx;
    width: 350rpx;
    height: 45rpx;
    background-color: green;
    display: flex;
    // justify-content: center;
    align-items: center;
    font-size: 19rpx;
    padding: 0rpx;
    color: #fff;
    padding-left: 25rpx;

    .icon-guanbi {
      font-size: 20rpx;
      padding-left: 20rpx;
    }

    .icon-gongyixiangqingsangexiaoyuandian- {
      margin-left: 5rpx;
      margin-right: 5rpx;
    }
  }
}

.search {
  position: fixed;
  background-image: linear-gradient(to bottom, #FEE3EA, #FCF1F8);
  // background-color: #FEE3EA;
  // top: 23vw;
  left: 0;
  height: 85rpx;
  width: 100vw;
  padding-left: 20rpx;
  padding-right: 20rpx;

  .input_search {
    height: 53rpx;
    width: 88%;
    margin-top: 15rpx;
    border: 4rpx solid #FCC9DE;
    border-top-left-radius: 25rpx;
    /* 左上角圆角半径为 10rpx */
    border-top-right-radius: 25rpx;
    /* 右上角圆角半径为 10rpx */
    border-bottom-right-radius: 25rpx;
    /* 右下角圆角半径为 10rpx */
    padding-left: 25rpx;
    padding-right: 25rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
  }

  .left {
    width: 200rpx;
    height: 100%;
    // background-color: skyblue;
    display: flex;
    align-items: center;
    font-size: 25rpx;
    color: #FBA7C7;

    .star {
      padding-left: 20rpx;
    }
  }

  .right {
    width: 130rpx;
    height: 100%;
    // background-color: skyblue;
    display: flex;
    align-items: center;
    font-size: 25rpx;
    font-weight: bold;

    .shu {
      width: 5rpx;
      height: 55%;
      background-color: #FCC9DE;
      margin-right: 10rpx;
    }

    .position {
      width: 40rpx;
      margin-right: 10rpx;
    }
  }
}

.scrollView {
  width: 100%;
  margin-top: 250rpx;
  overflow-y: scroll;
  /*或者overflow-y: scroll;*/
  flex: 1;
  /*占满剩余高度*/
  background-color: #F5F5F7;

  .directory {
    box-shadow: 0 .4vmin 1.6vmin 0 rgba(106, 122, 153, .15);
    height: 300rpx;
    width: 98%;
    background-image: linear-gradient(to bottom, #FCF1F8, #fff);
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-wrap: wrap;

    // justify-content: space-evenly;
    // flex-direction: column;
    .type {
      width: 20%;
      height: 48%;
      // background-color: skyblue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 25rpx;

      .pic {
        width: 60%;
        height: 50%;
        margin-bottom: 5rpx;
      }
    }
  }

  .info {
    margin-top: 20rpx;
    width: 98%;
    // background-color: #fff;
    margin-left: 1%;
    margin-right: 1%;
    height: 220rpx;

    .broadcasting {
      border-radius: 5rpx;
      width: 49%;
      height: 100%;
      background-image: linear-gradient(to right, #fff, #FCF1F8);
      box-shadow: 0 .4vmin 1.6vmin 0 rgba(106, 122, 153, .15);

      .top {
        width: 95%;
        height: 26%;
        // background-color: skyblue;
        display: flex;
        justify-content: space-evenly;
        padding-left: 5%;
        .img {
          width: 45%;
          height: 100%;
        }

        .swiper-container {
          // background-color:blue;
          flex: 1;
          padding-left: 20rpx;
          padding-right: 20rpx;
          display: flex;
          align-items: center;

          .swiper {
            // background-color: yellow;
            width: 100%;
            height: 50%;
            font-size: 20rpx;

            .broadcast-item {
              width: 100%;
              height: 100%;
              // background-color: green;
              display: flex;
              align-items: center;
              white-space: nowrap;
              overflow: hidden;
              justify-content: space-evenly;
              background-color: #fff;
              border-radius: 30rpx;
              font-size: 18rpx;
            }
            .activity-name{
              color: #ff195c;
            }
            .icon-youjiantou{
              font-size: 14rpx;
              color: #ff195c;
            }
          }
        }
      }
    }
  }
}