/* pages/home/home.wxss */
page{
  height: 3000rpx;
}
.container {
  height: 100vh;
  // width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #FEE3EA;
}

.nav-main {
  width: 100%;
  height: 100%;
  position: relative;
}

.nav .capsule-box {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20rpx;
  padding-right: 20rpx;

  .logo {
    width: 50rpx;
    height: 50rpx;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logoImg {
      width: 85%;
      height: 85%;
    }
  }

  .name {
    color: #E24B70;
    font-weight: bold;
    font-size: 40rpx;
    margin-top: 5rpx;
    margin-left: 15rpx;
    font-family: "Linear Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  }

  .btn {
    /* 设置背景颜色为从左到右的渐变效果 */
    background: linear-gradient(to right,
        #FD639E 0%,
        /* 第一种颜色，起始位置为0% */
        #AF88D7 40.33%,
        /* 第二种颜色，起始位置为33.33% */
        #78A2F7 70.67%
        /* 第三种颜色，起始位置为66.67% */
      );
    /* 兼容性设置 */
    background: -webkit-linear-gradient(left,
        #FD639E 0%,
        #AF88D7 40.33%,
        #78A2F7 70.67%);
    background: -moz-linear-gradient(left,
        #FD639E 0%,
        #AF88D7 40.33%,
        #78A2F7 70.67%);
    background: -o-linear-gradient(left,
        #FD639E 0%,
        #AF88D7 40.33%,
        #78A2F7 70.67%);
    margin-left: 45rpx;
    border-radius: 30rpx;
    width: 350rpx;
    height: 45rpx;
    background-color: green;
    display: flex;
    // justify-content: center;
    align-items: center;
    font-size: 19rpx;
    padding: 0rpx;
    color: #fff;
    padding-left: 25rpx;

    .icon-guanbi {
      font-size: 20rpx;
      padding-left: 20rpx;
    }

    .icon-gongyixiangqingsangexiaoyuandian- {
      margin-left: 5rpx;
      margin-right: 5rpx;
    }
  }
}

.search {
  position: fixed;
  background-image: linear-gradient(to bottom, #FEE3EA, #FCF1F8);
  // background-color: #FEE3EA;
  // top: 23vw;
  left: 0;
  height: 85rpx;
  width: 100vw;
  padding-left: 20rpx;
  padding-right: 20rpx;

  .input_search {
    height: 53rpx;
    width: 88%;
    margin-top: 15rpx;
    border: 4rpx solid #FCC9DE;
    border-top-left-radius: 25rpx;
    /* 左上角圆角半径为 10rpx */
    border-top-right-radius: 25rpx;
    /* 右上角圆角半径为 10rpx */
    border-bottom-right-radius: 25rpx;
    /* 右下角圆角半径为 10rpx */
    padding-left: 25rpx;
    padding-right: 25rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
  }

  .left {
    width: 200rpx;
    height: 100%;
    // background-color: skyblue;
    display: flex;
    align-items: center;
    font-size: 25rpx;
    color: #FBA7C7;

    .star {
      padding-left: 20rpx;
    }
  }

  .right {
    width: 130rpx;
    height: 100%;
    // background-color: skyblue;
    display: flex;
    align-items: center;
    font-size: 25rpx;
    font-weight: bold;

    .shu {
      width: 5rpx;
      height: 55%;
      background-color: #FCC9DE;
      margin-right: 10rpx;
    }

    .position {
      width: 40rpx;
      margin-right: 10rpx;
    }
  }
}

.scrollView {
  width: 100%;
  margin-top: 250rpx;
  overflow-y: scroll;
  /*或者overflow-y: scroll;*/
  flex: 1;
  /*占满剩余高度*/
  background-color: #F5F5F7;

  .directory {
    box-shadow: 0 .4vmin 1.6vmin 0 rgba(106, 122, 153, .15);
    height: 300rpx;
    width: 98%;
    background-image: linear-gradient(to bottom, #FCF1F8, #fff);
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-wrap: wrap;

    // justify-content: space-evenly;
    // flex-direction: column;
    .type {
      width: 20%;
      height: 48%;
      // background-color: skyblue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 25rpx;

      .pic {
        width: 60%;
        height: 50%;
        margin-bottom: 5rpx;
      }
    }
  }

  .info {
    margin-top: 20rpx;
    width: 98%;
    // background-color: #fff;
    margin-left: 1%;
    margin-right: 1%;
    height: 220rpx;
    display: flex;
    justify-content: space-between;

    .broadcasting,
    .flashSale {
      border-radius: 5rpx;
      width: 49%;
      height: 100%;
      background-image: linear-gradient(to right, #fff, #FCF1F8);
      box-shadow: 0 .4vmin 1.6vmin 0 rgba(106, 122, 153, .15);
      display: flex;
      flex-direction: column;

      .top {
        width: 95%;
        height: 26%;
        // background-color: skyblue;
        display: flex;
        justify-content: space-evenly;
        padding-left: 5%;

        .img {
          width: 45%;
          height: 100%;
          font-size: 28rpx;
          // background-color: red;
          font-weight: bold;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        .swiper-container {
          // background-color:blue;
          flex: 1;
          padding-left: 20rpx;
          padding-right: 20rpx;
          display: flex;
          align-items: center;

          .swiper {
            // background-color: yellow;
            width: 100%;
            height: 50%;
            font-size: 20rpx;

            .broadcast-item {
              width: 100%;
              height: 100%;
              // background-color: green;
              display: flex;
              align-items: center;
              white-space: nowrap;
              overflow: hidden;
              justify-content: space-evenly;
              background-color: #fff;
              border-radius: 30rpx;
              font-size: 18rpx;
            }

            .activity-name {
              color: #ff195c;
            }

            .icon-youjiantou {
              font-size: 14rpx;
              color: #ff195c;
            }
          }
        }
      }

      .middle {
        // flex: 1;
        height: 47%;
        width: 100%;
        // background-color: skyblue;
        padding: 0 5%;
        /* 同时设置左右边距为 5% */
        box-sizing: border-box;
        // overflow-wrap: break-word; 
        /* 当单词过长时，允许单词断行  数字和英文*/
        word-break: break-all;
        display: flex;

        .left {
          width: 90rpx;
          height: 90rpx;
          position: relative;

          // background-color: pink;
          .circle {
            width: 90rpx;
            height: 90rpx;
            border-radius: 50%;
            border: 4rpx solid #ffbf4c;
            display: flex;
            justify-content: center;
            align-items: center;

            .img {
              width: 99%;
              height: 99%;
              overflow: hidden;
              border-radius: 50%;
            }
          }

          .name {
            width: 85rpx;
            height: 30rpx;
            background-image: linear-gradient(231deg, #ffbf4c, #ffe17a);
            position: absolute;
            bottom: -20rpx;
            left: 6rpx;
            font-size: 20rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20rpx;
          }
        }

        .right {
          flex: 1;
          // height: 50%;
          // background-color: skyblue;
          font-size: 24rpx;
          box-sizing: border-box;
          padding-left: 20rpx;
        }
      }

      .bottom {
        flex: 1;
        width: 100%;
        // background-color: pink;
        display: flex;
        justify-content: flex-end;

        .ad {
          width: 58%;
          height: 65%;
          margin-right: 20rpx;
          // background-image: linear-gradient(to right, #FA9983, #FD4E86);
          /* 设置背景颜色为从左到右的渐变效果 */
          background: linear-gradient(to right,
              #FA9983 0%,
              /* 第一种颜色，起始位置为0% */
              #FD4E86 40.33%,
              /* 第二种颜色，起始位置为33.33% */

            );
          /* 兼容性设置 */
          background: -webkit-linear-gradient(left,
              #FA9983 0%,
              #FD4E86 40.33%,
            );
          background: -moz-linear-gradient(left,
              #FA9983 0%,
              #FD4E86 40.33%,
            );
          background: -o-linear-gradient(left,
              #FA9983 0%,
              #FD4E86 40.33%,
            );
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20rpx;
          color: #fff;
          border-top-left-radius: 18rpx;
          /* 左上角圆角半径为 10rpx */
          border-top-right-radius: 10rpx;
          /* 右上角圆角半径为 10rpx */
          border-bottom-right-radius: 10rpx;

          /* 右下角圆角半径为 10rpx */
          .icon-shandian {
            color: #FED68E;
            font-size: 35rpx;
          }

          .icon-qiang {
            font-size: 37rpx;
          }
        }
      }
    }

    .flashSale {
      background-image: linear-gradient(to right, #fff, #FCF8E5);

      .broadcast-item {
        width: 100%;
        height: 50%;
        // background-color: green;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        justify-content: space-evenly;
        background-color: #fff;
        border-radius: 30rpx;
        font-size: 18rpx;

        .activity-name {
          color: #FFC655;
        }

        .icon-youjiantou {
          font-size: 14rpx;
          color: #FFC655;
        }
      }

      .bom {
        width: 100%;
        flex: 1;
        // background-color: skyblue;
        display: flex;
        justify-content: space-evenly;

        .every {
          width: 28%;
          position: relative;
          height: 86%;
          margin-top: 8rpx;

          // background-color:pink;
          .img {
            width: 100%;
            height: 100%;
          }

          .activity {
            background: rgba(0, 0, 0, .8);
            border-radius: 6rpx;
            color: #fff;
            position: absolute;
            width: 70%;
            height: 28rpx;
            line-height: 28rpx;
            font-size: 18rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 0;
            top: 0;
          }

          .fullSub {
            // background: rgba(0, 0, 0, .8);
            border-radius: 6rpx;
            color: #fff;
            position: absolute;
            width: 40%;
            height: 28rpx;
            line-height: 28rpx;
            font-size: 18rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 5%;
            bottom: 5rpx;
          }
        }
      }
    }
  }

  // <!-- 演出日历、演出攻略、拼团领券 -->
  .performance {
    // box-shadow: 0 .4vmin 1.6vmin 0 rgba(106, 122, 153, .15);
    height: 110rpx;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20rpx;
    // background-color: skyblue;
    display: flex;
    justify-content: space-between;

    .hot {
      position: absolute;
    }
  }
}

// 扁平轮播图
.swiper {
  height: 140rpx;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 20rpx;
  border-radius: 10rpx;

  .img {
    width: 100%;
    height: 100%;
    border-radius: 10rpx;
  }
}

.thisWeek {
  width: 96%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 20rpx;
  height: 440rpx;
  // background-color: skyblue;
  border-radius: 10rpx;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-left: 20rpx;
  .title {
    width: 100%;
    height: 80rpx;
    // background-color: green;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    .clock {
      font-size: 35rpx;
    }

    .text {
      font-size: 30rpx;
      font-weight: bold;
    }
  }

  .every {
    display: inline-block;
    width: 150rpx;
    height: 360rpx;
    // background-color: red;
    // display: flex;
    // flex-direction: column;
    // box-sizing: border-box;
    margin-right: 12rpx;

    .imgView {
      width: 100%;
      height: 200rpx;
      box-sizing: border-box;
    }

    .img {
      width: 100%;
      height: 200rpx;
      border-radius: 8rpx;
      margin-top: 6rpx;
    }

    .info {
      width: 100%;
      height: 14%;
      box-sizing: border-box;
      font-size: 22rpx;
      white-space: normal;
      // -webkit-line-clamp: 2;
      // // background-color: yellow;
      // display: -webkit-box;
      // -webkit-box-orient: vertical;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // margin-top: 14rpx;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .position {
      margin-top: 8rpx;
      font-size: 19rpx;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #9B9B9B;
    }

    .price {
      display: flex;
      // margin-top: 6rpx;
      font-size: 22rpx;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #9B9B9B;
      align-items: center;

      .fuhao,
      .pink {
        color: #FD2A70;
        margin-bottom: 5rpx;
      }

      .pink {
        font-size: 30rpx;
      }
    }
  }
  .scroll-x{
    display: flex;
    // white-space: nowrap ; /* 防止内容换行 */
    overflow-x: auto; /* 允许横向滚动 */
  }
}